.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    font-size: 18px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;
  }
  

  .card {
    overflow: hidden;
    position: relative;
  }
  
  .card img {
    opacity: 150%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    transition: 0.3s all ease-in-out;
    object-fit: cover;
  }
  .card img:hover {
    opacity: 50%;
  }
  
  .card p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 100%;
    z-index: 0;
    font-weight: bold;
  }